.fooddiaryDiv {
    padding: 5rem 15rem;
}


.foodDiaryBox>div {
    border-bottom: 1px solid rgb(220, 219, 219);
    text-align: left;
}

.foodDiaryBox div h2 {
    color:rgb(32, 32, 151);
}

.foodDiaryBox div p {
    padding-left: 0.5rem;
    color: blue;
    font-weight: bold;
}

.breakfast {
    width: 80%;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-between;
   
}

.breakfast .chart { 
    width: 45%;
    padding: 5px;
    display: flex;
    gap: 2
    
}

.breakfast .chart div {
    background-color: #00548F;
    margin: auto;
    text-align: center;
    padding: 3px;
    width: fit-content;
    
}

.breakfast .chart h5 {
    color: white;
    margin-top: -1px;
}

.breakfast .chart p {
    margin-top: -1.5rem;
    color: rgb(189, 186, 186);
}



.table {
    margin: auto;
    padding: 3px;
    /* border: 1px solid red; */
    width: 45%;
    margin-top: 20px;
}

.total .data{
   margin: auto;
   text-align: center;
   background-color: rgb(239, 239, 239);

}

.total .remaining{
   color: green;
}

.category {
    margin: auto;
    padding: 3px;
    background-color: #00548F;
    color: white;
    font-size: 15px;
}

.btn {
    background-color: rgb(32, 175, 32);
    color: white;
    border-radius: 5px;
    padding: 0.3rem;
    border: 1px solid black;
}

.lastsection{
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    width: 90%;
    border: 1px solid rgb(216, 215, 215);
    display: flex;
    text-align: left;
}

.waterBlock{
    width: 40%;
    /* border: 1px solid brown; */
}

.waterBlock h2{
   color: #00548F;
}

.waterBlock p {
    font-size: 15px;
}

.waterBlock p span {
    color: blue;
    text-decoration: underline;
}

.cupData {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    color: blue;
    font-weight: 500;
    margin-top: -1.3rem;
}

.customInfo {
    margin-top: -1rem;
}

.customInfo input {
    height: 1.5rem;
}
.customInfo .btnAdd {
  padding: 0.5rem;
  background-color: rgb(32, 175, 32);
  color: white;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.imageinfo {
  width: 10%;
  margin: auto;
  margin-top: 3rem;
  /* border: 1px solid brown; */
  border-right: 1px solid rgb(225, 222, 222);
  height: 17rem;
}

.imageDiv {
    width: 95%;
    /* border: 1px solid brown; */
}
img {
    width: 100%;
}

.notesection {
    width: 30%;
    margin: auto;
    text-align: left;
    /* border: 1px solid brown; */
    margin-right: 5rem;
    margin-top: 3rem;
}

.notesection input {
    background-color: rgb(236, 236, 236);
    border: none;
    height: 10rem;
    width: 100%;
}